.mynav{
    background: var(--bgGradient2);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}
.mynav .navLink{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mynav .navLink p{
    cursor: pointer
}

.mynav .logo{
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    gap: 10px
}
.mynav .logo img{
    width: 40px;
}

.mynav .icon{
    border: 2px solid #83f8a5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mynav .icon svg path {
    color: #83f8a5 !important
}